html{
				margin: 0px;
				padding: 0px;
			}
			body{
				margin: 0px;
				padding: 0px;
				background-color: #778899;
			}

			#header{
					height: 68px;
					position: fixed;
					left: 0px;
					right: 0px;
					top: 0px;
					z-index: 2;
					background-color: #4169E1;

			}
			#head-title{
				text-align: left;
				color:#E2E2E2;
				position: absolute;
				left: 0%;
				right: 50%;
				width:50%;
				text-shadow:5em 5em 5em #fff;
			}
			#loginAs{
				height: 35px;
				position: absolute;
				right: 0px;
				margin: 1%;
				
			}
			
			#menu{
				position:fixed;
				z-index: 1;
				left: 0px;
				top: 12%;
				bottom: 0px;
				height:auto;
				font-stretch: expanded;
				
			}
			#menu-body{
				
				background-color: #708090;
			}
			#menu ul li a{
				color: white;
				font-weight: bold;
				font-size: 10px;
				font-family: "Times New Roman", Times, serif;
				font-size-adjust: 0.55;
			}
			#content{
				margin-top:6%;
				height: auto;
			}	
				